img.center{
  display: block;
  margin: 0 auto;
}

/* Markdown PDF CSS override inline code style */
:not(pre):not(.hljs) > code {
  color: #fff !important;
  background-color: #2b303b;
  padding: 0 0.4em;
  font-size: inherit;
}
  